html {
  font-size: 1rem;
  font-family: "FreeSet", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 400;
  color: #141414;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FreeSet", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 3.625rem;
  text-align: center;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
    line-height: 3.375rem;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
}

a,
button,
input,
textarea {
  font-family: "Gotham Pro", "Segoe UI", Tahoma, Verdana, sans-serif;
}

figure {
  margin: 0;
}

.header {
  padding: 36px 0;
  background-color: #ffffff;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}
.header__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(20, 20, 20, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(20, 20, 20, 0.25));
}
.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #141414;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-decoration: none;
}
@media (max-width: 992px) {
  .header__phone-link {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__phone-link span {
    display: none;
  }
}
.header__phone-link img {
  width: 18px;
  height: auto;
}
@media (max-width: 576px) {
  .header__phone-link img {
    width: 23px;
  }
}
.header__phone-button {
  padding: 0;
  color: #a89877;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 171.429% */
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dashed #a89877;
  background: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__phone-button {
    display: none;
  }
}
.header__burger-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  display: none;
  height: 23px;
  padding: 0;
  border: none;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .header__burger-button {
    display: block;
  }
}
.header__burger-button img {
  height: 23px;
  width: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(20, 20, 20, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(20, 20, 20, 0.25));
}

.first-screen .container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
.first-screen__info {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 1386px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 576px) {
  .first-screen__info {
    top: 340px;
  }
}
.first-screen__info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.first-screen__video-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 63px 18px 23px;
  border: 1px solid #c9ad86;
  color: #ffffff;
  font-size: 9px;
  line-height: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #d2bc9c 0%, #bc9b6a 100%);
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
@media (max-width: 576px) {
  .first-screen__video-btn {
    display: none;
  }
}
.first-screen__video-btn:active {
  -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
          transform: scale(0.94);
}
.first-screen__video-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 23px;
  display: block;
  width: 20px;
  height: 26px;
  background: url("../assets/play-icon.svg") no-repeat center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.first-screen__video-btn span {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2.6px;
}
.first-screen__text {
  max-width: 424px;
  margin: 40px 0 70px;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1.2px;
}
@media (max-width: 576px) {
  .first-screen__text {
    margin: 0 auto 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .first-screen .button {
    display: block;
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
  }
}
.first-screen__logo {
  text-align: left;
}
@media (max-width: 576px) {
  .first-screen__logo {
    margin: 40px 0;
    text-align: center;
  }
}
.first-screen__logo img {
  max-width: 560px;
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .first-screen__logo img {
    max-width: 284px;
  }
}
.first-screen__tags {
  position: absolute;
  right: 16px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: 120%;
}
@media (max-width: 576px) {
  .first-screen__tags {
    display: none;
  }
}
.first-screen__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  width: 108px;
  height: 108px;
  padding-right: 8px;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: drop-shadow(4px 4px 24px #2c4319);
          filter: drop-shadow(4px 4px 24px #2c4319);
}
.first-screen__tag_discont {
  font-size: 12px;
  letter-spacing: 0.6px;
  background-image: url("../assets/discont-tag-bg.svg");
}
.first-screen__tag_taxi {
  font-size: 8px;
  line-height: 10px;
  background-image: url("../assets/taxi-tag-bg.svg");
}
.first-screen__tag_taxi img {
  width: 35px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-screen__tag-percent {
  font-size: 34px;
  font-weight: 700;
}
.first-screen__tag-taxi-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.first-screen .swiper-button-prev, .first-screen .swiper-button-next {
  top: auto;
  bottom: 85px;
  z-index: 101;
  width: 43px;
  height: 43px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.first-screen .swiper-button-prev::after, .first-screen .swiper-button-next::after {
  content: "";
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 43px;
  background-color: #fff;
  -webkit-box-shadow: 1px 4px 24px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 24px 0px rgba(0, 0, 0, 0.25);
  background-image: url("../assets/arrow-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.first-screen .swiper-button-next::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.first-screen__slide {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first-screen__slide .first-screen-primary, .first-screen__slide .first-screen-secondary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  will-change: transform;
}
.first-screen__slide .first-screen-primary {
  z-index: 10;
}
.first-screen__slide .first-screen-secondary {
  z-index: 9;
}
.first-screen__slide .first-screen-bg {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  will-change: transform;
}
.first-screen #firstScreenSlider {
  margin-bottom: 6px;
}
.first-screen #firstScreenThumbs .swiper-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}
.first-screen #firstScreenThumbs .swiper-slide img {
  min-height: 170px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .first-screen #firstScreenThumbs .swiper-slide img {
    min-height: 156px;
  }
}
.first-screen #firstScreenThumbs .swiper-slide-thumb-active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.button {
  width: 324px;
  padding: 20px 0;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.button:active {
  -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
          transform: scale(0.94);
}
.button_primary {
  -webkit-box-shadow: 5px 5px 0 #770d13;
          box-shadow: 5px 5px 0 #770d13;
  background: linear-gradient(142deg, #d44b39 0%, #9f1921 100%);
}
.button_light {
  -webkit-box-shadow: 5px 5px 0 #97794d;
          box-shadow: 5px 5px 0 #97794d;
  background: linear-gradient(135deg, #d2bc9c 0%, #bc9b6a 100%);
}
.button_dark {
  -webkit-box-shadow: 5px 5px 0 #161616;
          box-shadow: 5px 5px 0 #161616;
  background: linear-gradient(171deg, #636363 0%, #000 100%);
}

.container {
  max-width: 1386px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__image {
  max-height: 42px;
  width: auto;
}
@media (max-width: 576px) {
  .logo__image {
    max-height: 27px;
  }
}

.menu {
  max-width: 630px;
  width: 100%;
  padding: 13px 24px;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, rgba(217, 217, 217, 0), #d9d9d9, rgba(217, 217, 217, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 217, 217, 0)), color-stop(#d9d9d9), to(rgba(217, 217, 217, 0))) 1 100%;
     border-image: linear-gradient(to bottom, rgba(217, 217, 217, 0), #d9d9d9, rgba(217, 217, 217, 0)) 1 100%;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 6px 12px;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1200px) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__list-item {
  list-style-type: none;
}
.menu__list-item a {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.9px;
  text-decoration: none;
}