@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro.ttf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../fonts/intro_black.ttf');
}

html {
  font-size: 1rem;
  font-family: 'Gotham Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 1.25rem;
  font-weight: 400;
  color: $black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Intro Black', 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 3.625rem;
  text-align: center;

  @include tablet {
    font-size: 3rem;
    line-height: 3.375rem;
  }

  @include iphone {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  @include mobile {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
}

a,
button,
input,
textarea {
  font-family: 'Gotham Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

figure {
  margin: 0;
}
