.contacts {
  position: relative;
  padding: 0 0 180px;
  background-image: url('../assets/contacts/contacts-bg.webp');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1920px;

  @media (min-width: 1920.1px) {
    background-size: 100%;
  }

  @include tablet {
    background-position-x: 70%;
    background-position-y: 0;
  }

  @include mobile {
    padding: 0;
    background-position-x: 65%;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 687px;
    display: block;
    z-index: 1;
    width: 100%;
    height: 300px;
    background-image: url('../assets/contacts/contacts-clouds-bg.webp');
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (min-width: 1920.1px) {
      top: 0;
      bottom: auto;
      height: 600px;
      background-size: 200%;
      background-position: center bottom 100px;
      
      
    }

    @include tablet {
      top: 0;
      bottom: auto;
      height: 400px;
    }
  }

  & .container {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include titleBgBlack;
    max-width: 1080px;
    margin: 54px auto 100px;

    @include tablet {
      margin: 50px auto 440px;
    }
  }

  &__info {
    max-width: 418px;
    padding: 54px 58px 48px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 93px 124px 0px rgba(0, 0, 0, 0.19);

    @include tablet {
      margin: 0 auto;
      max-width: 576px;
    }

    @include mobile {
      max-width: none;
      margin: 0 -20px;
      padding: 54px 29px 48px;
    }

    &-title {
      margin: 0 0 33px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
    }

    &-label {
      padding-left: 24px;
      margin-bottom: 5px;
      color: #979797;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      background: url('../assets/details/phone-icon.svg') no-repeat left center;

      &_phone {
        background-image: url('../assets/details/phone-icon.svg');
      }

      &_mail {
        background-image: url('../assets/details/mail-icon.svg');
      }

      &_address {
        background-image: url('../assets/details/pin-icon.svg');
      }

      &_time {
        background-image: url('../assets/details/time-icon.svg');
      }
    }

    &-link,
    &-link a {
      color: $black;
      font-size: 21px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.42px;
      text-decoration: none;
    }

    &-link {
      margin-bottom: 10px;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
      margin-top: 44px;

      & .button {
        max-width: none;
        width: 100%;
        padding: 28px 0;
      }

      & a {
        padding-left: 19px;
        color: #d7bf9b;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed #d7bf9b;
        background: url('../assets/contacts/download-icon.svg') center left no-repeat;
      }
    }
  }
}
