.consultation {
  padding: calc(100px + 136px) 0 120px;
  background-color: #f7f7f7;
  background-image: url('../assets/consulting-bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;

  @include mobile {
    padding: calc(90px + 200px) 0 90px;
  }

  &__title {
    max-width: 920px;
    margin: 70px auto 40px;

    @include mobile {
      margin: 60px 0 40px;
    }
  }

  &__description {
    max-width: 760px;
    margin: 40px auto 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;

    @include laptop {
      flex-wrap: wrap;
    }

    @include mobile {
      display: block;
    }
  }

  &__start {
    flex: 0 0 30%;
    order: 1;
    padding: 60px;
    background-color: $white;
    text-align: center;

    @include laptop {
      order: 0;
      flex: 1 1 100%;
      margin: 0 -16px 0;
    }

    @include mobile {
      margin: 0 -16px 24px;
    }

    &-title {
      margin: 0 0 22px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
    }

    &-description {
      margin: 22px 0 42px;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;

      @include mobile {
      }
    }
  }

  &__manager {
    flex: 1 1 30%;
    order: 0;
    max-width: 340px;
    padding: 0 0 50px;

    @include mobile {
      max-width: none;
      margin: 0 0 40px;
      text-align: center;
    }

    &-image {
      & img {
        height: 87px;
        width: auto;
      }
    }

    &-title {
      margin: 20px 0;
      padding-left: 12px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;

      @include laptop {
        padding-left: 0;
      }
    }

    &-description {
      margin: 0;
      padding-left: 12px;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;

      @include laptop {
        padding-left: 0;
      }
    }
  }

  &__catalog {
    flex: 1 1 30%;
    order: 2;
    max-width: 340px;
    padding: 0 0 50px;

    @include mobile {
      max-width: none;
      margin: 0;
      text-align: center;
    }

    &-image {
      & img {
        height: 200px;
        width: auto;
      }
    }

    &-title {
      margin: -32px 0 20px;
      padding-left: 36px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;

      @include laptop {
        padding-left: 0;
      }
    }

    &-description {
      margin: 0;
      padding-left: 36px;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;

      @include laptop {
        padding-left: 0;
      }
    }
  }
}
