.header {
  padding: 36px 0;
  background-color: $white;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 40px;
  }

  &__phone {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    filter: drop-shadow(0px 4px 4px rgba($color: $black, $alpha: 0.25));

    &-link {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $black;
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 1.2px;
      text-decoration: none;

      @include laptop {
        font-size: 20px;
      }

      & span {
        @include mobile {
          display: none;
        }
      }

      & img {
        width: 18px;
        height: auto;

        @include mobile {
          width: 23px;
        }
      }
    }

    &-button {
      padding: 0;
      color: $brown;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 171.429% */
      letter-spacing: 0.7px;
      text-transform: uppercase;
      border: none;
      border-bottom: 1px dashed $brown;
      background: none;
      cursor: pointer;

      @include mobile {
        display: none;
      }
    }
  }

  &__burger-button {
    flex: 0 0 30px;
    display: none;
    height: 23px;
    padding: 0;
    border: none;
    background-color: $white;

    @include tablet {
      display: block;
    }

    & img {
      height: 23px;
      width: auto;
      filter: drop-shadow(0px 4px 4px rgba($color: $black, $alpha: 0.25));
    }
  }
}
