.video-section {
  padding: 295px 0 320px;
  background-color: $black;
  background-image: url('../assets/video-section-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 1920.1px) {
    background-size: 100%;
  }

  .container {
    position: relative;
    max-width: 1920px;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      top: 98px;
      right: -399px;
      display: block;
      width: 996px;
      height: 208px;
      background-image: url('../assets/logo-white.svg');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-90deg);

      @include desktop {
        display: none;
      }
    }
  }

  @include mobile {
    padding: 87px 0 130px;
  }

  &__title {
    @include titleBgWhite;
    margin: 0 0 120px;
    color: $white;
    line-height: 74px;

    @include mobile {
      line-height: 43px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 33px;
    width: 113px;
    height: 91px;
    background: url('../assets/video-button.svg') center no-repeat;
    border: none;
    transition: $baseTransition;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }

  &__text {
    max-width: 426px;
    margin: 0 auto;
    color: #d7bf9b;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.05px;
  }
}
